---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";
const jobs = ["Imporluz", "Booklick", "ZenBusiness", "Amazon", "Siemens"]
const finished = true;
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <p>Hello, hello! Cristian here, who is there?</p>
    <p>A fellow human? I am kindly grateful for your visit.</p>
    <p>Right now, I am a Senior fullstack software engineer with 
      Devops experience. A "big title" that sounds complex for the website, 
      but let's better say: I am a coder by hearth :love:</p>
    <p>I always like to tell that I am a Software Engineer and an Electronic Engineer. A double engineer.</p>
    <p>I am doing my Master of Science in Artificial Intelligence</p>
    <p>My work experience has been a fun path:</p>
    <ul>
      {jobs.map((job) => <li>{job}</li>)}
    </ul>
    <p>Hablo Español y English</p>
    <p>I have lived in Bogota :col: and Madrid :spa:</p>
    <p>A lucky traveler, 25 countries from amazing people.</p>
    <p>A bit of a thinker, a hobbist philosopher.</p>
    <p>Let's keep learning. I'll always ask many questions.</p>
    <p>Happy to connect with you.</p>
  </main>
</BaseLayout>
