---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Blog";
---
<BaseLayout pageTitle={pageTitle}>
  <article>
    <header>
      <h1>Why to write?</h1>
    </header>
    <main>
      <p>Writing the foundational stone of our society, how would do I know that "Solo se que nada se", if Socrates wasn't written.</p>
    </main>
    {allPosts.map(
      (post) => <BlogPost 
        title={post.frontmatter.title}
        description={post.frontmatter.title}
        url={post.url}
      />)
    }
  </article>
</BaseLayout>
