---
interface Props {
    title: string;
    description: string;
    url: string;
}
const { title, description, url } = Astro.props;
---
<section>
    <h2>{title}</h2>
    <p>{description}</p>
    <footer>
        <a href={url}>Post 1</a>
    </footer>
</section>
<style>
</style>