---
import Social from "./Social.astro"
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>

<footer>
  <Social platform="twitter" username="cridasieba" />
  <Social platform="github" username="cridasieba" />
  <Social platform="gitlab" username="cridasieba" />
  <Social platform="youtube" username="cridasieba" />
</footer>