---
import Hamburguer from "./Hamburguer.astro"
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<style>
    header {
      
    }
</style>

<header>
    <nav>
        <Hamburguer />
        <ThemeIcon />
        <Navigation />
    </nav>
</header>